html {
  background-color: #f5f7f9;
}

body {
  background: none;
  color: #69707a;
  font-family: "Open Sans", Arial, sans-serif;
  overflow: hidden;
}

strong {
  color: #222324;
}

.navbar {
    background-color: #D2B4DE; 
}

.about-btn { background-color: #D2B4DE; 
  font-weight: 300;
  color: white;
}

.btn-primary {
  background: #e16879;
  border-color: #e16879;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:active:focus {
  background: #e05164;
  border-color: #e05164;
}

.card {
  border-color: #ccc;
}

.card-title {
  color: #e16879;
  font-weight: 300;
}

.card-block small {
  float: right;
}

.description {
  background-image: url("/pattern.png");
  background-repeat: repeat-x;
}

.navbar{ 
  margin-bottom: 0px;

}

/* Additional stuff for index.html page */
.jumbotron {
  background-image: url("imgcover.JPG");
  background-size: cover;
  height: 95%;
  margin-bottom: 0px;
  
}