html {
  background-color: #f5f7f9;
}

body {
  background: none;
  color: #69707a;
  font-family: "Open Sans", Arial;
}

strong {
  color: #222324;
}

.btn {
  font-weight: 300;
}


.card {
  border-color: #ccc;
}

.card-title {
  color: black;
  font-weight: 300;
}


